.hero-apply__btn {
  background: rgb(73,84,188);
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2), 0px 4px 23px rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  color: #fff;
}
