---
const footnotes: {
  title: string;
  children: {
    title: string;
    url: string;
  }[];
}[] = [
  {
    title: "ZJU BLOCKCHAIN",
    children: [
      {
        title: "Twitter",
        url: "https://x.com/BlockchainZJU",
      },
      {
        title: "WeChat",
        url: "https://mp.weixin.qq.com/s/twn0k4eu1iTlgW7S1dx2KA",
      },
      {
        title: "Github",
        url: "https://github.com/ZJUBCA",
      },
    ],
  },
  {
    title: "WTF Academy",
    children: [
      {
        title: "Twitter",
        url: "https://x.com/WTFAcademy_",
      },
      {
        title: "GitHub",
        url: "https://github.com/WTFAcademy",
      },
      {
        title: "Discord",
        url: "https://discord.com/invite/cGYBRVTYEY",
      },
    ],
  },
  {
    title: "TinTinland",
    children: [
      {
        title: "Twitter",
        url: "https://x.com/OurTinTinLand",
      },
      {
        title: "Youtube",
        url: "https://www.youtube.com/channel/UCfHiMcFt-4btbC75FsReQhQ",
      },
      {
        title: "Medium",
        url: "https://medium.com/@tintin.land2021",
      },
      {
        title: "Discord",
        url: "https://discord.com/invite/65N69bdsKw",
      },
    ],
  },
  {
    title: "PKU BLOCKCHAIN",
    children: [
      {
        title: "Twitter",
        url: "https://x.com/PKUBlockchain",
      },
      {
        title: "bilibili",
        url: "https://space.bilibili.com/586660955",
      },
    ],
  },
];
---

<section class="relative w-full left-0 mt-48 pt-16">
  <div
    class="absolute left-0 top-0 w-full h-1.5 bg-gradient-to-r from-[#27D59D] to-[#28BDD9]"
  >
  </div>
  <div class="container mx-auto grid gap-2.5 grid-cols-2 sm:grid-cols-5">
    <div class="flex justify-center">
      <img src="/images/footerlogo.jpg" class="w-[64px] h-[80px]" />
    </div>

    {
      footnotes.map((item) => (
        <div>
          <span class="text-neutral-500 font-medium">{item.title}</span>
          {item.children.map((c) => (
            <a href={c.url} target="_blank" class="block my-4">
              {c.title}
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <footer class="text-center text-neutral-500 my-10">
    © {new Date().getFullYear()} ETH Hangzhou. All Rights Reserved.
  </footer>
</section>
