---
const footnotes: {
  title: string;
  children: {
    title: string;
    url: string;
  }[];
}[] = [
  {
    title: "ZJU BLOCKCHAIN",
    children: [
      {
        title: "Youtube",
        url: "https://youtube.com/@zjubca",
      },
      {
        title: "Twitter",
        url: "https://twitter.com/zjubca",
      },
      {
        title: "Github",
        url: "https://github.com/Blockchain-zju",
      },
    ],
  },
  {
    title: "PKU BLOCKCHAIN",
    children: [
      {
        title: "bilibili",
        url: "https://space.bilibili.com/586660955",
      },
      {
        title: "Twitter",
        url: "https://twitter.com/PKUBlockchain",
      },
    ],
  },
  {
    title: "WTF Academy",
    children: [
      {
        title: "Home",
        url: "https://wtf.academy",
      },
      {
        title: "Twitter",
        url: "https://twitter.com/WTFAcademy_",
      },
      {
        title: "GitHub",
        url: "https://github.com/WTFAcademy",
      },
      {
        title: "Discord",
        url: "https://discord.gg/5akcruXrsk",
      },
    ],
  },
];
---

<section class="relative w-full left-0 mt-48 pt-16">
  <div
    class="absolute left-0 top-0 w-full h-1.5 bg-gradient-to-r from-[#27D59D] to-[#28BDD9]"
  >
  </div>
  <div class="container mx-auto grid gap-2.5 grid-cols-2 sm:grid-cols-4">
    <svg width="263" height="60" viewBox="0 0 263 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.8" d="M49.3689 14.29H56.9289C57.2355 14.29 57.4489 14.5033 57.4489 14.81V15.81C57.4489 15.93 57.4222 16.0767 57.3022 16.1967C57.1822 16.3033 57.0355 16.33 56.9289 16.33H49.8355C49.5822 16.33 49.2755 16.29 49.0755 16.5033C48.9822 16.5967 48.9689 16.7433 48.9555 16.8633V17.41C48.9955 17.7967 49.1955 17.9433 49.5689 17.9433H56.7955C57.1155 17.9433 57.3155 18.1433 57.3155 18.4633V19.45C57.3155 19.77 57.1155 19.97 56.7955 19.97H49.6755C49.2622 19.97 48.9955 20.0367 48.9555 20.5033V21.05C48.9689 21.25 49.0355 21.3567 49.1022 21.4233C49.1689 21.5033 49.3155 21.5567 49.5155 21.5833H56.9822C57.3022 21.5833 57.5022 21.7833 57.5022 22.1033V23.1033C57.5022 23.21 57.4755 23.3567 57.3689 23.4767C57.2489 23.5967 57.1022 23.6233 56.9822 23.6233H49.3689C47.7022 23.6233 46.7422 22.77 46.7422 21.05V16.8633C46.7422 15.1433 47.7022 14.29 49.3689 14.29ZM58.9523 14.29H69.4723C69.5923 14.29 69.739 14.33 69.859 14.4367C69.9523 14.5567 70.0057 14.69 70.0057 14.81V15.81C70.0057 16.13 69.779 16.33 69.4723 16.33H65.3123V23.1033C65.3123 23.21 65.2857 23.3567 65.1657 23.4767C65.059 23.5967 64.9123 23.6233 64.7923 23.6233H63.6457C63.5257 23.6233 63.379 23.5967 63.2723 23.4767C63.1523 23.3567 63.1257 23.21 63.1257 23.1033V16.33H58.9523C58.8457 16.33 58.699 16.3033 58.579 16.1967C58.459 16.0767 58.4323 15.93 58.4323 15.81V14.81C58.4323 14.5033 58.6457 14.29 58.9523 14.29ZM70.9349 23.1033V14.81C70.9349 14.5033 71.1483 14.29 71.4549 14.29H72.6283C72.7483 14.29 72.8949 14.3167 73.0016 14.4367C73.1216 14.5567 73.1483 14.7033 73.1483 14.81V17.9433H80.0416V14.81C80.0416 14.5033 80.2549 14.29 80.5616 14.29H81.7349C81.8549 14.29 82.0016 14.33 82.1216 14.4367C82.2149 14.5567 82.2683 14.69 82.2683 14.81V23.1033C82.2683 23.4233 82.0416 23.6233 81.7349 23.6233H80.5616C80.2549 23.6233 80.0416 23.41 80.0416 23.1033V19.97H73.1483V23.1033C73.1483 23.21 73.1216 23.3567 73.0016 23.4767C72.8949 23.5967 72.7483 23.6233 72.6283 23.6233H71.4549C71.1483 23.6233 70.9349 23.41 70.9349 23.1033ZM90.388 23.1033V14.81C90.388 14.5033 90.6013 14.29 90.908 14.29H92.0813C92.2013 14.29 92.348 14.3167 92.4546 14.4367C92.5746 14.5567 92.6013 14.7033 92.6013 14.81V17.9433H99.4947V14.81C99.4947 14.5033 99.708 14.29 100.015 14.29H101.188C101.308 14.29 101.455 14.33 101.575 14.4367C101.668 14.5567 101.721 14.69 101.721 14.81V23.1033C101.721 23.4233 101.495 23.6233 101.188 23.6233H100.015C99.708 23.6233 99.4947 23.41 99.4947 23.1033V19.97H92.6013V23.1033C92.6013 23.21 92.5746 23.3567 92.4546 23.4767C92.348 23.5967 92.2013 23.6233 92.0813 23.6233H90.908C90.6013 23.6233 90.388 23.41 90.388 23.1033ZM102.651 23.1433C102.651 23.0367 102.704 22.9567 102.744 22.8633L108.091 14.6367C108.131 14.57 108.211 14.4633 108.358 14.37C108.438 14.3167 108.531 14.29 108.638 14.29H109.918C110.171 14.29 110.358 14.4367 110.478 14.65L115.811 22.8767C115.865 22.9567 115.891 23.05 115.905 23.1433C115.905 23.3167 115.838 23.45 115.691 23.5567C115.585 23.5967 115.491 23.6233 115.411 23.6233H114.038C113.931 23.6233 113.838 23.5967 113.771 23.5567C113.611 23.4633 113.531 23.33 113.491 23.2633L113.211 22.85C113.064 22.5967 112.891 22.33 112.771 22.1567C112.758 22.1433 112.744 22.1433 112.731 22.1433H105.838C105.811 22.1433 105.798 22.1433 105.798 22.1567L105.078 23.2633C105.025 23.3567 104.945 23.4633 104.798 23.5567C104.665 23.5967 104.571 23.6233 104.518 23.6233H103.145C103.064 23.6233 102.971 23.5967 102.864 23.5567C102.718 23.45 102.651 23.3167 102.651 23.1433ZM107.198 20.13H111.358C111.424 20.13 111.438 20.1033 111.398 20.05L109.331 16.8367C109.291 16.7967 109.265 16.7967 109.225 16.8367L107.158 20.05C107.118 20.1033 107.131 20.13 107.198 20.13ZM117.353 14.29H118.82C119.073 14.29 119.193 14.41 119.287 14.5033C119.3 14.5033 119.3 14.5033 119.313 14.5167L126.06 20.85V14.81C126.06 14.5033 126.273 14.29 126.58 14.29H127.753C128.06 14.29 128.287 14.5033 128.287 14.81V23.1033C128.287 23.2233 128.26 23.37 128.14 23.4767C128.033 23.5967 127.873 23.6233 127.753 23.6233H126.3C126.047 23.6233 125.927 23.49 125.833 23.4233L125.807 23.3967L119.047 17.0633V23.1033C119.047 23.21 119.02 23.3567 118.9 23.4767C118.793 23.5967 118.647 23.6233 118.527 23.6233H117.353C117.047 23.6233 116.833 23.41 116.833 23.1033V14.81C116.833 14.5033 117.047 14.29 117.353 14.29ZM129.88 21.1033V16.8233C129.88 15.1033 130.787 14.25 132.507 14.25H139.107C140.8 14.25 141.653 15.1033 141.653 16.8233V17.3567C141.653 17.4767 141.627 17.6367 141.507 17.7433C141.4 17.8633 141.267 17.89 141.147 17.89H139.96C139.84 17.89 139.707 17.8633 139.6 17.7433C139.48 17.6367 139.44 17.4767 139.44 17.3567V16.9433C139.44 16.61 139.373 16.4767 139.32 16.41C139.253 16.3433 139.12 16.29 138.8 16.29H132.84C132.507 16.29 132.333 16.3567 132.24 16.45C132.147 16.5167 132.093 16.69 132.093 16.9433V20.97C132.093 21.2233 132.147 21.3967 132.24 21.4633C132.333 21.5567 132.507 21.6367 132.84 21.6367H138.8C139.12 21.6367 139.267 21.5833 139.333 21.49C139.4 21.4233 139.467 21.29 139.467 20.97V20.5033H136.267C135.907 20.5033 135.667 20.2767 135.667 19.9167V19.0633C135.667 18.7033 135.907 18.4767 136.267 18.4767H141.107C141.467 18.4767 141.68 18.7033 141.68 19.0633V21.1033C141.68 22.77 140.787 23.6767 139.12 23.6767H132.507C130.84 23.6767 129.88 22.8233 129.88 21.1033ZM142.812 21.7167C142.852 21.6233 142.919 21.5433 143.012 21.4767L149.959 16.33H143.292C142.972 16.33 142.772 16.13 142.772 15.81V14.81C142.772 14.7033 142.799 14.5567 142.919 14.4367C143.025 14.3167 143.172 14.29 143.292 14.29H152.905C153.212 14.29 153.425 14.5033 153.425 14.81V15.9033C153.425 16.13 153.332 16.3167 153.159 16.4367L146.212 21.5833H152.919C153.025 21.5833 153.172 21.61 153.292 21.73C153.412 21.8367 153.439 21.9833 153.439 22.1033V23.1033C153.439 23.41 153.225 23.6233 152.919 23.6233H143.265C142.959 23.6233 142.745 23.41 142.745 23.1033V22.01C142.745 21.97 142.745 21.8633 142.812 21.7167ZM154.502 23.1033V14.81C154.502 14.5033 154.716 14.29 155.022 14.29H156.196C156.316 14.29 156.462 14.3167 156.569 14.4367C156.689 14.5567 156.716 14.7033 156.716 14.81V17.9433H163.609V14.81C163.609 14.5033 163.822 14.29 164.129 14.29H165.302C165.422 14.29 165.569 14.33 165.689 14.4367C165.782 14.5567 165.836 14.69 165.836 14.81V23.1033C165.836 23.4233 165.609 23.6233 165.302 23.6233H164.129C163.822 23.6233 163.609 23.41 163.609 23.1033V19.97H156.716V23.1033C156.716 23.21 156.689 23.3567 156.569 23.4767C156.462 23.5967 156.316 23.6233 156.196 23.6233H155.022C154.716 23.6233 154.502 23.41 154.502 23.1033ZM167.432 21.1033V16.8233C167.432 15.1033 168.339 14.25 170.059 14.25H176.619C178.286 14.25 179.232 15.1033 179.232 16.8233V21.1033C179.232 22.77 178.286 23.6767 176.619 23.6767H170.059C168.392 23.6767 167.432 22.8233 167.432 21.1033ZM169.646 16.9433V20.97C169.646 21.2233 169.699 21.3967 169.792 21.4633C169.886 21.5567 170.059 21.6367 170.392 21.6367H176.286C176.619 21.6367 176.792 21.57 176.886 21.4767C176.952 21.3833 177.019 21.2767 177.019 20.97V16.9433C177.019 16.41 176.806 16.29 176.286 16.29H170.392C170.059 16.29 169.886 16.3567 169.792 16.45C169.699 16.5167 169.646 16.69 169.646 16.9433ZM181.351 14.29H182.524C182.644 14.29 182.791 14.3167 182.897 14.4367C183.017 14.5567 183.044 14.7033 183.044 14.81V20.93C183.044 21.45 183.204 21.5833 183.724 21.5833H189.751C190.271 21.5833 190.417 21.45 190.417 20.93V14.81C190.417 14.5033 190.631 14.29 190.937 14.29H192.111C192.231 14.29 192.377 14.3167 192.497 14.4367C192.604 14.5567 192.631 14.7033 192.631 14.81V21.05C192.631 22.77 191.777 23.6233 190.071 23.6233H183.391C181.671 23.6233 180.831 22.7167 180.831 21.05V14.81C180.831 14.5033 181.044 14.29 181.351 14.29Z" fill="black"/>
      <path d="M46.7422 43.1033V34.81C46.7422 34.5033 46.9555 34.29 47.2622 34.29H48.4355C48.5555 34.29 48.7022 34.3167 48.8089 34.4367C48.9289 34.5567 48.9555 34.7033 48.9555 34.81V37.9433H55.8489V34.81C55.8489 34.5033 56.0622 34.29 56.3689 34.29H57.5422C57.6622 34.29 57.8089 34.33 57.9289 34.4367C58.0222 34.5567 58.0755 34.69 58.0755 34.81V43.1033C58.0755 43.4233 57.8489 43.6233 57.5422 43.6233H56.3689C56.0622 43.6233 55.8489 43.41 55.8489 43.1033V39.97H48.9555V43.1033C48.9555 43.21 48.9289 43.3567 48.8089 43.4767C48.7022 43.5967 48.5555 43.6233 48.4355 43.6233H47.2622C46.9555 43.6233 46.7422 43.41 46.7422 43.1033ZM63.0051 43.1433C63.0051 43.0367 63.0584 42.9567 63.0984 42.8633L68.4451 34.6367C68.4851 34.57 68.5651 34.4633 68.7118 34.37C68.7917 34.3167 68.8851 34.29 68.9918 34.29H70.2717C70.5251 34.29 70.7118 34.4367 70.8318 34.65L76.1651 42.8767C76.2184 42.9567 76.2451 43.05 76.2584 43.1433C76.2584 43.3167 76.1917 43.45 76.0451 43.5567C75.9384 43.5967 75.8451 43.6233 75.7651 43.6233H74.3918C74.2851 43.6233 74.1918 43.5967 74.1251 43.5567C73.9651 43.4633 73.8851 43.33 73.8451 43.2633L73.5651 42.85C73.4184 42.5967 73.2451 42.33 73.1251 42.1567C73.1118 42.1433 73.0984 42.1433 73.0851 42.1433H66.1917C66.1651 42.1433 66.1518 42.1433 66.1518 42.1567L65.4318 43.2633C65.3784 43.3567 65.2984 43.4633 65.1518 43.5567C65.0184 43.5967 64.9251 43.6233 64.8718 43.6233H63.4984C63.4184 43.6233 63.3251 43.5967 63.2184 43.5567C63.0718 43.45 63.0051 43.3167 63.0051 43.1433ZM67.5518 40.13H71.7118C71.7784 40.13 71.7918 40.1033 71.7518 40.05L69.6851 36.8367C69.6451 36.7967 69.6184 36.7967 69.5784 36.8367L67.5117 40.05C67.4718 40.1033 67.4851 40.13 67.5518 40.13ZM83.8141 34.25H90.4407C92.1341 34.25 92.9874 35.1033 92.9874 36.8233V37.3567C92.9874 37.4767 92.9607 37.6367 92.8407 37.7433C92.7341 37.8633 92.6141 37.89 92.4674 37.89H91.2941C90.9874 37.89 90.7741 37.6633 90.7741 37.3567V36.9433C90.7741 36.61 90.7074 36.4767 90.6407 36.41C90.5874 36.3433 90.4541 36.29 90.1341 36.29H84.1474C83.8141 36.29 83.6407 36.3567 83.5474 36.45C83.4541 36.5167 83.4007 36.69 83.4007 36.9433V40.97C83.4007 41.2233 83.4541 41.3967 83.5474 41.4633C83.6407 41.5567 83.8141 41.6367 84.1474 41.6367H90.1341C90.6541 41.6367 90.7741 41.53 90.7741 41.01V40.85C90.7741 40.73 90.8141 40.5833 90.9207 40.4633C91.0407 40.37 91.1741 40.3167 91.2941 40.3167H92.4674C92.7874 40.3167 92.9874 40.5433 92.9874 40.85V41.13C92.9874 42.7967 92.1074 43.6767 90.4407 43.6767H83.8141C82.1474 43.6767 81.1874 42.8233 81.1874 41.1033V36.8233C81.1874 35.1033 82.0941 34.25 83.8141 34.25ZM107.119 42.9567C106.373 42.3833 104.879 41.1567 103.613 40.1033C102.853 39.4767 102.053 38.8233 101.199 38.1433C101.159 38.1033 101.173 38.0767 101.213 38.05L106.946 34.53C106.959 34.53 106.959 34.53 106.973 34.5167C107.093 34.41 107.253 34.3433 107.453 34.3033C107.479 34.29 107.546 34.29 107.639 34.29H109.373C109.826 34.29 110.013 34.8767 109.613 35.13C107.626 36.37 104.973 38.0367 104.613 38.25C104.573 38.2767 104.559 38.3033 104.599 38.3433L105.613 39.1833C106.493 39.9167 108.506 41.5433 109.999 42.8233C110.319 43.1033 110.133 43.6233 109.719 43.6233H108.106C108.013 43.6233 107.946 43.61 107.893 43.5833C107.773 43.49 107.746 43.49 107.586 43.3433L107.466 43.2367C107.373 43.17 107.266 43.0767 107.119 42.9567ZM99.106 34.29H100.279C100.399 34.29 100.546 34.3167 100.653 34.4367C100.773 34.5567 100.799 34.7033 100.799 34.81V38.4767V43.1033C100.799 43.21 100.773 43.3567 100.653 43.4767C100.546 43.5967 100.399 43.6233 100.279 43.6233H99.106C98.7993 43.6233 98.586 43.41 98.586 43.1033V34.81C98.586 34.5033 98.7993 34.29 99.106 34.29ZM114.784 43.1433C114.784 43.0367 114.837 42.9567 114.877 42.8633L120.224 34.6367C120.264 34.57 120.344 34.4633 120.491 34.37C120.571 34.3167 120.664 34.29 120.771 34.29H122.051C122.304 34.29 122.491 34.4367 122.611 34.65L127.944 42.8767C127.997 42.9567 128.024 43.05 128.037 43.1433C128.037 43.3167 127.971 43.45 127.824 43.5567C127.717 43.5967 127.624 43.6233 127.544 43.6233H126.171C126.064 43.6233 125.971 43.5967 125.904 43.5567C125.744 43.4633 125.664 43.33 125.624 43.2633L125.344 42.85C125.197 42.5967 125.024 42.33 124.904 42.1567C124.891 42.1433 124.877 42.1433 124.864 42.1433H117.971C117.944 42.1433 117.931 42.1433 117.931 42.1567L117.211 43.2633C117.157 43.3567 117.077 43.4633 116.931 43.5567C116.797 43.5967 116.704 43.6233 116.651 43.6233H115.277C115.197 43.6233 115.104 43.5967 114.997 43.5567C114.851 43.45 114.784 43.3167 114.784 43.1433ZM119.331 40.13H123.491C123.557 40.13 123.571 40.1033 123.531 40.05L121.464 36.8367C121.424 36.7967 121.397 36.7967 121.357 36.8367L119.291 40.05C119.251 40.1033 119.264 40.13 119.331 40.13ZM129.825 34.29H140.345C140.465 34.29 140.611 34.33 140.731 34.4367C140.825 34.5567 140.878 34.69 140.878 34.81V35.81C140.878 36.13 140.651 36.33 140.345 36.33H136.185V43.1033C136.185 43.21 136.158 43.3567 136.038 43.4767C135.931 43.5967 135.785 43.6233 135.665 43.6233H134.518C134.398 43.6233 134.251 43.5967 134.145 43.4767C134.025 43.3567 133.998 43.21 133.998 43.1033V36.33H129.825C129.718 36.33 129.571 36.3033 129.451 36.1967C129.331 36.0767 129.305 35.93 129.305 35.81V34.81C129.305 34.5033 129.518 34.29 129.825 34.29ZM145.807 43.1033V34.81C145.807 34.5033 146.021 34.29 146.327 34.29H147.501C147.621 34.29 147.767 34.3167 147.874 34.4367C147.994 34.5567 148.021 34.7033 148.021 34.81V37.9433H154.914V34.81C154.914 34.5033 155.127 34.29 155.434 34.29H156.607C156.727 34.29 156.874 34.33 156.994 34.4367C157.087 34.5567 157.141 34.69 157.141 34.81V43.1033C157.141 43.4233 156.914 43.6233 156.607 43.6233H155.434C155.127 43.6233 154.914 43.41 154.914 43.1033V39.97H148.021V43.1033C148.021 43.21 147.994 43.3567 147.874 43.4767C147.767 43.5967 147.621 43.6233 147.501 43.6233H146.327C146.021 43.6233 145.807 43.41 145.807 43.1033ZM162.737 41.1033V36.8233C162.737 35.1033 163.644 34.25 165.364 34.25H171.924C173.59 34.25 174.537 35.1033 174.537 36.8233V41.1033C174.537 42.77 173.59 43.6767 171.924 43.6767H165.364C163.697 43.6767 162.737 42.8233 162.737 41.1033ZM164.95 36.9433V40.97C164.95 41.2233 165.004 41.3967 165.097 41.4633C165.19 41.5567 165.364 41.6367 165.697 41.6367H171.59C171.924 41.6367 172.097 41.57 172.19 41.4767C172.257 41.3833 172.324 41.2767 172.324 40.97V36.9433C172.324 36.41 172.11 36.29 171.59 36.29H165.697C165.364 36.29 165.19 36.3567 165.097 36.45C165.004 36.5167 164.95 36.69 164.95 36.9433ZM180.656 34.29H182.122C182.376 34.29 182.496 34.41 182.589 34.5033C182.602 34.5033 182.602 34.5033 182.616 34.5167L189.362 40.85V34.81C189.362 34.5033 189.576 34.29 189.882 34.29H191.056C191.362 34.29 191.589 34.5033 191.589 34.81V43.1033C191.589 43.2233 191.562 43.37 191.442 43.4767C191.336 43.5967 191.176 43.6233 191.056 43.6233H189.602C189.349 43.6233 189.229 43.49 189.136 43.4233L189.109 43.3967L182.349 37.0633V43.1033C182.349 43.21 182.322 43.3567 182.202 43.4767C182.096 43.5967 181.949 43.6233 181.829 43.6233H180.656C180.349 43.6233 180.136 43.41 180.136 43.1033V34.81C180.136 34.5033 180.349 34.29 180.656 34.29Z" fill="url(#paint0_linear_63_883)"/>
      <path d="M21.8066 19.4266L21.8118 19.4175L22.4551 18.3228L21.8066 17.2192H21.2357L21.8695 18.3047L21.2144 19.4266H21.8066Z" fill="black"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 32.4204L21.3424 10L32.3028 32.3345L28.914 32.2979H25.7463V31.2912C26.5337 30.8181 27.068 29.9755 27.068 29.0032C27.068 27.4943 25.7894 26.3057 24.2562 26.3057C22.723 26.3057 21.4445 27.4943 21.4445 29.0032C21.4445 29.9755 21.9787 30.8181 22.7661 31.2912V32.2979H20.0255V27.5796H19.1759V33.1847H23.6552V30.5885H23.3265C22.7267 30.2759 22.3335 29.6771 22.3335 29.0032C22.3335 28.0224 23.1747 27.1926 24.2562 27.1926C25.3377 27.1926 26.1789 28.0224 26.1789 29.0032C26.1789 29.6771 25.7857 30.2759 25.186 30.5885H24.8572V33.1847H30.7663L21.4698 37.6858L11.85 33.2696H16.1687V27.5796H15.3191V32.4204H10ZM19.8683 18.2893L20.3551 19.1568L19.9679 19.8514L19.0909 18.2893L19.9781 16.7091L20.3653 17.4038L19.8683 18.2893ZM22.2059 16.5393L23.254 18.3226L22.2099 20.0994L22.2059 20.1061H20.1105L21.1621 18.3049L20.1314 16.5393H22.2059ZM21.4305 24.2679L20.5422 23.9278L21.4305 25.3258H26.8735L27.6106 23.9278L26.8735 24.2679H21.4305ZM14.1354 25.5414L15.0237 25.8814H20.4666L21.2037 25.5414L20.4666 26.9394H15.0237L14.1354 25.5414ZM22.4511 22.5881L22.0731 22.3992L22.4511 23.4193L25.7207 23.3815L26.0797 22.3992L25.7207 22.5881H22.4511ZM15.6851 24.2675L16.0631 24.4564H19.3327L19.6918 24.2675L19.3327 25.2499L16.0631 25.2877L15.6851 24.2675ZM17.2853 27.5796V32.845H18.1349V27.5796H17.2853Z" fill="black"/>
      <path d="M21.4698 50.0001L10 33.7793L21.4698 41.685V50.0001Z" fill="black"/>
      <path d="M21.4697 50L32.4298 33.4395L21.4697 41.6832V50Z" fill="black"/>
      <defs>
      <linearGradient id="paint0_linear_63_883" x1="45.9422" y1="40.0001" x2="187.759" y2="40.0001" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="0.5" stop-color="#BFBFBF"/>
      <stop offset="1"/>
      </linearGradient>
      </defs>
      </svg>
      
    {
      footnotes.map((item) => (
        <div>
          <span class="text-neutral-500 font-medium">{item.title}</span>
          {item.children.map((c) => (
            <a href={c.url} target="_blank" class="block my-4">
              {c.title}
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <footer class="text-center text-neutral-500 my-10">
    © 2023 ETH Hangzhou. All Rights Reserved.
  </footer>
</section>
