---
// import type { reloadResources } from "i18next";
import i18next, { t } from "i18next";
import "../styles/navbar.css";
---

<script>
  const closeBtn: Element | any = document.querySelector(
    ".navbar-mb__btn .close"
  );
  const foldBtn: Element | any = document.querySelector(
    ".navbar-mb__btn .fold"
  );
  const menuBox: Element | any = document.querySelector(".navbar-mb");
  const menuBtn: Element | any = document.querySelectorAll(".menu-btn");
  const menuMobileBtn: Element | any =
    document.querySelectorAll(".menu-mb__btn");
  const hashArr = [
    "#hero",
    "#prize",
    "#schedule",
    "#speaker",
    "#venue",
    "#faq",
  ];

  const closeMobileNav = () => {
    closeBtn.classList.add("hidden");
    foldBtn.classList.remove("hidden");
    menuBox.classList.add("hidden");
  };

  foldBtn.addEventListener("click", () => {
    closeBtn.classList.remove("hidden");
    foldBtn.classList.add("hidden");
    menuBox.classList.remove("hidden");
  });

  closeBtn.addEventListener("click", () => closeMobileNav);

  menuBtn.forEach((ele: Element, index: number) => {
    if (!location.hash && !index) ele.classList.add("active");

    const hashIndex = hashArr.findIndex((val) => val === location.hash);
    if (index === hashIndex) ele.classList.add("active");

    ele.addEventListener("click", () => {
      menuBtn.forEach((ele: Element) => ele.classList.remove("active"));
      ele.classList.add("active");
    });
  });

  menuMobileBtn.forEach((ele: Element, index: number) =>
    ele.addEventListener("click", closeMobileNav)
  );

  // const lang: Element = document.getElementById("lan")!;
  const lanList: Element = document.getElementById("lan-list")!;
  const langMobile: Element | any = document.getElementById("languag-mb");
  const lanListEN: Element = document.getElementById("lan-list-en")!;
  const lanListZH: Element = document.getElementById("lan-list-zh")!;

  const lanCurrent: Element = document.getElementById("lan-current")!;
  lanCurrent.addEventListener("click", () => {
    if (/ hidden/.test(lanList.classList.value)) {
      lanList.classList.remove("hidden");
    } else {
      lanList.classList.add("hidden");
    }
  });

  const { origin, hash } = location;
  lanListEN.addEventListener("click", () => {
    lanCurrent.children[0].innerHTML = "English";
    lanList.classList.add("hidden");
    location.href = origin + "/" + hash;
  });

  lanListZH.addEventListener("click", () => {
    lanCurrent.children[0].innerHTML = "简体中文";
    lanList.classList.add("hidden");
    location.href = origin + "/zh/" + hash;
  });

  // lang.addEventListener("change", (e: any) => {
  //   const { value = "english" } = e.target;
  //   const { origin, hash } = location;

  //   if (value === "chinese") {
  //     location.href = origin + "/zh/" + hash;
  //   }

  //   if (value === "english") {
  //     location.href = origin + "/" + hash;
  //   }
  // });

  langMobile.addEventListener("change", (e: any) => {
    const { value = "english" } = e.target;
    const { origin, hash } = location;

    if (value === "chinese") {
      location.href = origin + "/zh/" + hash;
      closeMobileNav();
    }

    if (value === "english") {
      location.href = origin + "/" + hash;
      closeMobileNav();
    }
  });
  if (location.pathname.includes("zh")) {
    lanCurrent.children[0].innerHTML = "简体中文";
    langMobile.value = "chinese";
  } else {
    lanCurrent.children[0].innerHTML = "English";
    langMobile.value = "english";
  }
</script>
<nav class="bg-white fixed top-0 left-0 w-full z-10">
  <div class="mx-auto max-w-7xl sm:px-2 px-8 w-full">
    <div
      class="relative flex h-16 items-center sm:justify-between justify-around w-full"
    >
      <div class="sm:hidden absolute inset-y-0 right-0 flex items-center">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="navbar-mb__btn rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="fold h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="close hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="w-full sm:flex flex-1 items-center justify-around lg:px-32">
        <div class="flex flex-shrink-0 items-center">
          <svg
          class="block h-9 w-auto mr-4"
            xmlns="http://www.w3.org/2000/svg"
            width="184"
            height="40"
            viewBox="0 0 184 40"
            fill="none"
          >
            <path
              opacity="0.8"
              d="M39.3686 4.28976H46.9286C47.2353 4.28976 47.4486 4.50309 47.4486 4.80976V5.80976C47.4486 5.92976 47.4219 6.07642 47.3019 6.19642C47.1819 6.30309 47.0353 6.32976 46.9286 6.32976H39.8353C39.5819 6.32976 39.2753 6.28976 39.0753 6.50309C38.9819 6.59642 38.9686 6.74309 38.9553 6.86309V7.40976C38.9953 7.79642 39.1953 7.94309 39.5686 7.94309H46.7953C47.1153 7.94309 47.3153 8.14309 47.3153 8.46309V9.44976C47.3153 9.76976 47.1153 9.96976 46.7953 9.96976H39.6753C39.2619 9.96976 38.9953 10.0364 38.9553 10.5031V11.0498C38.9686 11.2498 39.0353 11.3564 39.1019 11.4231C39.1686 11.5031 39.3153 11.5564 39.5153 11.5831H46.9819C47.3019 11.5831 47.5019 11.7831 47.5019 12.1031V13.1031C47.5019 13.2098 47.4753 13.3564 47.3686 13.4764C47.2486 13.5964 47.1019 13.6231 46.9819 13.6231H39.3686C37.7019 13.6231 36.7419 12.7698 36.7419 11.0498V6.86309C36.7419 5.14309 37.7019 4.28976 39.3686 4.28976ZM48.9521 4.28976H59.4721C59.5921 4.28976 59.7388 4.32976 59.8588 4.43642C59.9521 4.55642 60.0054 4.68976 60.0054 4.80976V5.80976C60.0054 6.12976 59.7788 6.32976 59.4721 6.32976H55.3121V13.1031C55.3121 13.2098 55.2854 13.3564 55.1654 13.4764C55.0588 13.5964 54.9121 13.6231 54.7921 13.6231H53.6454C53.5254 13.6231 53.3788 13.5964 53.2721 13.4764C53.1521 13.3564 53.1254 13.2098 53.1254 13.1031V6.32976H48.9521C48.8454 6.32976 48.6988 6.30309 48.5788 6.19642C48.4588 6.07642 48.4321 5.92976 48.4321 5.80976V4.80976C48.4321 4.50309 48.6454 4.28976 48.9521 4.28976ZM60.9347 13.1031V4.80976C60.9347 4.50309 61.148 4.28976 61.4547 4.28976H62.628C62.748 4.28976 62.8947 4.31642 63.0014 4.43642C63.1214 4.55642 63.148 4.70309 63.148 4.80976V7.94309H70.0414V4.80976C70.0414 4.50309 70.2547 4.28976 70.5614 4.28976H71.7347C71.8547 4.28976 72.0014 4.32976 72.1214 4.43642C72.2147 4.55642 72.268 4.68976 72.268 4.80976V13.1031C72.268 13.4231 72.0414 13.6231 71.7347 13.6231H70.5614C70.2547 13.6231 70.0414 13.4098 70.0414 13.1031V9.96976H63.148V13.1031C63.148 13.2098 63.1214 13.3564 63.0014 13.4764C62.8947 13.5964 62.748 13.6231 62.628 13.6231H61.4547C61.148 13.6231 60.9347 13.4098 60.9347 13.1031ZM80.3877 13.1031V4.80976C80.3877 4.50309 80.6011 4.28976 80.9077 4.28976H82.0811C82.2011 4.28976 82.3477 4.31642 82.4544 4.43642C82.5744 4.55642 82.6011 4.70309 82.6011 4.80976V7.94309H89.4944V4.80976C89.4944 4.50309 89.7077 4.28976 90.0144 4.28976H91.1877C91.3077 4.28976 91.4544 4.32976 91.5744 4.43642C91.6677 4.55642 91.7211 4.68976 91.7211 4.80976V13.1031C91.7211 13.4231 91.4944 13.6231 91.1877 13.6231H90.0144C89.7077 13.6231 89.4944 13.4098 89.4944 13.1031V9.96976H82.6011V13.1031C82.6011 13.2098 82.5744 13.3564 82.4544 13.4764C82.3477 13.5964 82.2011 13.6231 82.0811 13.6231H80.9077C80.6011 13.6231 80.3877 13.4098 80.3877 13.1031ZM92.6509 13.1431C92.6509 13.0364 92.7043 12.9564 92.7443 12.8631L98.0909 4.63642C98.1309 4.56976 98.2109 4.46309 98.3576 4.36976C98.4376 4.31642 98.5309 4.28976 98.6376 4.28976H99.9176C100.171 4.28976 100.358 4.43642 100.478 4.64976L105.811 12.8764C105.864 12.9564 105.891 13.0498 105.904 13.1431C105.904 13.3164 105.838 13.4498 105.691 13.5564C105.584 13.5964 105.491 13.6231 105.411 13.6231H104.038C103.931 13.6231 103.838 13.5964 103.771 13.5564C103.611 13.4631 103.531 13.3298 103.491 13.2631L103.211 12.8498C103.064 12.5964 102.891 12.3298 102.771 12.1564C102.758 12.1431 102.744 12.1431 102.731 12.1431H95.8376C95.8109 12.1431 95.7976 12.1431 95.7976 12.1564L95.0776 13.2631C95.0243 13.3564 94.9443 13.4631 94.7976 13.5564C94.6643 13.5964 94.5709 13.6231 94.5176 13.6231H93.1443C93.0643 13.6231 92.9709 13.5964 92.8643 13.5564C92.7176 13.4498 92.6509 13.3164 92.6509 13.1431ZM97.1976 10.1298H101.358C101.424 10.1298 101.438 10.1031 101.398 10.0498L99.3309 6.83642C99.2909 6.79642 99.2643 6.79642 99.2243 6.83642L97.1576 10.0498C97.1176 10.1031 97.1309 10.1298 97.1976 10.1298ZM107.353 4.28976H108.82C109.073 4.28976 109.193 4.40976 109.286 4.50309C109.3 4.50309 109.3 4.50309 109.313 4.51642L116.06 10.8498V4.80976C116.06 4.50309 116.273 4.28976 116.58 4.28976H117.753C118.06 4.28976 118.286 4.50309 118.286 4.80976V13.1031C118.286 13.2231 118.26 13.3698 118.14 13.4764C118.033 13.5964 117.873 13.6231 117.753 13.6231H116.3C116.046 13.6231 115.926 13.4898 115.833 13.4231L115.806 13.3964L109.046 7.06309V13.1031C109.046 13.2098 109.02 13.3564 108.9 13.4764C108.793 13.5964 108.646 13.6231 108.526 13.6231H107.353C107.046 13.6231 106.833 13.4098 106.833 13.1031V4.80976C106.833 4.50309 107.046 4.28976 107.353 4.28976ZM119.88 11.1031V6.82309C119.88 5.10309 120.787 4.24976 122.507 4.24976H129.107C130.8 4.24976 131.653 5.10309 131.653 6.82309V7.35642C131.653 7.47642 131.627 7.63642 131.507 7.74309C131.4 7.86309 131.267 7.88976 131.147 7.88976H129.96C129.84 7.88976 129.707 7.86309 129.6 7.74309C129.48 7.63642 129.44 7.47642 129.44 7.35642V6.94309C129.44 6.60976 129.373 6.47642 129.32 6.40976C129.253 6.34309 129.12 6.28976 128.8 6.28976H122.84C122.507 6.28976 122.333 6.35642 122.24 6.44976C122.147 6.51642 122.093 6.68976 122.093 6.94309V10.9698C122.093 11.2231 122.147 11.3964 122.24 11.4631C122.333 11.5564 122.507 11.6364 122.84 11.6364H128.8C129.12 11.6364 129.267 11.5831 129.333 11.4898C129.4 11.4231 129.467 11.2898 129.467 10.9698V10.5031H126.267C125.907 10.5031 125.667 10.2764 125.667 9.91642V9.06309C125.667 8.70309 125.907 8.47642 126.267 8.47642H131.107C131.467 8.47642 131.68 8.70309 131.68 9.06309V11.1031C131.68 12.7698 130.787 13.6764 129.12 13.6764H122.507C120.84 13.6764 119.88 12.8231 119.88 11.1031ZM132.812 11.7164C132.852 11.6231 132.918 11.5431 133.012 11.4764L139.958 6.32976H133.292C132.972 6.32976 132.772 6.12976 132.772 5.80976V4.80976C132.772 4.70309 132.798 4.55642 132.918 4.43642C133.025 4.31642 133.172 4.28976 133.292 4.28976H142.905C143.212 4.28976 143.425 4.50309 143.425 4.80976V5.90309C143.425 6.12976 143.332 6.31642 143.158 6.43642L136.212 11.5831H142.918C143.025 11.5831 143.172 11.6098 143.292 11.7298C143.412 11.8364 143.438 11.9831 143.438 12.1031V13.1031C143.438 13.4098 143.225 13.6231 142.918 13.6231H133.265C132.958 13.6231 132.745 13.4098 132.745 13.1031V12.0098C132.745 11.9698 132.745 11.8631 132.812 11.7164ZM144.502 13.1031V4.80976C144.502 4.50309 144.716 4.28976 145.022 4.28976H146.196C146.316 4.28976 146.462 4.31642 146.569 4.43642C146.689 4.55642 146.716 4.70309 146.716 4.80976V7.94309H153.609V4.80976C153.609 4.50309 153.822 4.28976 154.129 4.28976H155.302C155.422 4.28976 155.569 4.32976 155.689 4.43642C155.782 4.55642 155.836 4.68976 155.836 4.80976V13.1031C155.836 13.4231 155.609 13.6231 155.302 13.6231H154.129C153.822 13.6231 153.609 13.4098 153.609 13.1031V9.96976H146.716V13.1031C146.716 13.2098 146.689 13.3564 146.569 13.4764C146.462 13.5964 146.316 13.6231 146.196 13.6231H145.022C144.716 13.6231 144.502 13.4098 144.502 13.1031ZM157.432 11.1031V6.82309C157.432 5.10309 158.339 4.24976 160.059 4.24976H166.619C168.285 4.24976 169.232 5.10309 169.232 6.82309V11.1031C169.232 12.7698 168.285 13.6764 166.619 13.6764H160.059C158.392 13.6764 157.432 12.8231 157.432 11.1031ZM159.645 6.94309V10.9698C159.645 11.2231 159.699 11.3964 159.792 11.4631C159.885 11.5564 160.059 11.6364 160.392 11.6364H166.285C166.619 11.6364 166.792 11.5698 166.885 11.4764C166.952 11.3831 167.019 11.2764 167.019 10.9698V6.94309C167.019 6.40976 166.805 6.28976 166.285 6.28976H160.392C160.059 6.28976 159.885 6.35642 159.792 6.44976C159.699 6.51642 159.645 6.68976 159.645 6.94309ZM171.35 4.28976H172.524C172.644 4.28976 172.79 4.31642 172.897 4.43642C173.017 4.55642 173.044 4.70309 173.044 4.80976V10.9298C173.044 11.4498 173.204 11.5831 173.724 11.5831H179.75C180.27 11.5831 180.417 11.4498 180.417 10.9298V4.80976C180.417 4.50309 180.63 4.28976 180.937 4.28976H182.11C182.23 4.28976 182.377 4.31642 182.497 4.43642C182.604 4.55642 182.63 4.70309 182.63 4.80976V11.0498C182.63 12.7698 181.777 13.6231 180.07 13.6231H173.39C171.67 13.6231 170.83 12.7164 170.83 11.0498V4.80976C170.83 4.50309 171.044 4.28976 171.35 4.28976Z"
              fill="black"></path>
            <path
              d="M36.7419 33.1031V24.8098C36.7419 24.5031 36.9553 24.2898 37.2619 24.2898H38.4353C38.5553 24.2898 38.7019 24.3164 38.8086 24.4364C38.9286 24.5564 38.9553 24.7031 38.9553 24.8098V27.9431H45.8486V24.8098C45.8486 24.5031 46.0619 24.2898 46.3686 24.2898H47.5419C47.6619 24.2898 47.8086 24.3298 47.9286 24.4364C48.0219 24.5564 48.0753 24.6898 48.0753 24.8098V33.1031C48.0753 33.4231 47.8486 33.6231 47.5419 33.6231H46.3686C46.0619 33.6231 45.8486 33.4098 45.8486 33.1031V29.9698H38.9553V33.1031C38.9553 33.2098 38.9286 33.3564 38.8086 33.4764C38.7019 33.5964 38.5553 33.6231 38.4353 33.6231H37.2619C36.9553 33.6231 36.7419 33.4098 36.7419 33.1031ZM53.0048 33.1431C53.0048 33.0364 53.0582 32.9564 53.0982 32.8631L58.4448 24.6364C58.4848 24.5698 58.5648 24.4631 58.7115 24.3698C58.7915 24.3164 58.8848 24.2898 58.9915 24.2898H60.2715C60.5248 24.2898 60.7115 24.4364 60.8315 24.6498L66.1648 32.8764C66.2182 32.9564 66.2448 33.0498 66.2582 33.1431C66.2582 33.3164 66.1915 33.4498 66.0448 33.5564C65.9382 33.5964 65.8448 33.6231 65.7648 33.6231H64.3915C64.2848 33.6231 64.1915 33.5964 64.1248 33.5564C63.9648 33.4631 63.8848 33.3298 63.8448 33.2631L63.5648 32.8498C63.4182 32.5964 63.2448 32.3298 63.1248 32.1564C63.1115 32.1431 63.0982 32.1431 63.0848 32.1431H56.1915C56.1648 32.1431 56.1515 32.1431 56.1515 32.1564L55.4315 33.2631C55.3782 33.3564 55.2982 33.4631 55.1515 33.5564C55.0182 33.5964 54.9248 33.6231 54.8715 33.6231H53.4982C53.4182 33.6231 53.3248 33.5964 53.2182 33.5564C53.0715 33.4498 53.0048 33.3164 53.0048 33.1431ZM57.5515 30.1298H61.7115C61.7782 30.1298 61.7915 30.1031 61.7515 30.0498L59.6848 26.8364C59.6448 26.7964 59.6182 26.7964 59.5782 26.8364L57.5115 30.0498C57.4715 30.1031 57.4848 30.1298 57.5515 30.1298ZM73.8138 24.2498H80.4405C82.1338 24.2498 82.9872 25.1031 82.9872 26.8231V27.3564C82.9872 27.4764 82.9605 27.6364 82.8405 27.7431C82.7338 27.8631 82.6138 27.8898 82.4672 27.8898H81.2938C80.9872 27.8898 80.7738 27.6631 80.7738 27.3564V26.9431C80.7738 26.6098 80.7072 26.4764 80.6405 26.4098C80.5872 26.3431 80.4538 26.2898 80.1338 26.2898H74.1472C73.8138 26.2898 73.6405 26.3564 73.5472 26.4498C73.4538 26.5164 73.4005 26.6898 73.4005 26.9431V30.9698C73.4005 31.2231 73.4538 31.3964 73.5472 31.4631C73.6405 31.5564 73.8138 31.6364 74.1472 31.6364H80.1338C80.6538 31.6364 80.7738 31.5298 80.7738 31.0098V30.8498C80.7738 30.7298 80.8138 30.5831 80.9205 30.4631C81.0405 30.3698 81.1738 30.3164 81.2938 30.3164H82.4672C82.7872 30.3164 82.9872 30.5431 82.9872 30.8498V31.1298C82.9872 32.7964 82.1072 33.6764 80.4405 33.6764H73.8138C72.1472 33.6764 71.1872 32.8231 71.1872 31.1031V26.8231C71.1872 25.1031 72.0938 24.2498 73.8138 24.2498ZM97.119 32.9564C96.3724 32.3831 94.879 31.1564 93.6124 30.1031C92.8524 29.4764 92.0524 28.8231 91.199 28.1431C91.159 28.1031 91.1724 28.0764 91.2124 28.0498L96.9457 24.5298C96.959 24.5298 96.959 24.5298 96.9724 24.5164C97.0924 24.4098 97.2524 24.3431 97.4524 24.3031C97.479 24.2898 97.5457 24.2898 97.639 24.2898H99.3724C99.8257 24.2898 100.012 24.8764 99.6124 25.1298C97.6257 26.3698 94.9724 28.0364 94.6124 28.2498C94.5724 28.2764 94.559 28.3031 94.599 28.3431L95.6124 29.1831C96.4924 29.9164 98.5057 31.5431 99.999 32.8231C100.319 33.1031 100.132 33.6231 99.719 33.6231H98.1057C98.0124 33.6231 97.9457 33.6098 97.8924 33.5831C97.7724 33.4898 97.7457 33.4898 97.5857 33.3431L97.4657 33.2364C97.3724 33.1698 97.2657 33.0764 97.119 32.9564ZM89.1057 24.2898H90.279C90.399 24.2898 90.5457 24.3164 90.6524 24.4364C90.7724 24.5564 90.799 24.7031 90.799 24.8098V28.4764V33.1031C90.799 33.2098 90.7724 33.3564 90.6524 33.4764C90.5457 33.5964 90.399 33.6231 90.279 33.6231H89.1057C88.799 33.6231 88.5857 33.4098 88.5857 33.1031V24.8098C88.5857 24.5031 88.799 24.2898 89.1057 24.2898ZM104.784 33.1431C104.784 33.0364 104.837 32.9564 104.877 32.8631L110.224 24.6364C110.264 24.5698 110.344 24.4631 110.49 24.3698C110.57 24.3164 110.664 24.2898 110.77 24.2898H112.05C112.304 24.2898 112.49 24.4364 112.61 24.6498L117.944 32.8764C117.997 32.9564 118.024 33.0498 118.037 33.1431C118.037 33.3164 117.97 33.4498 117.824 33.5564C117.717 33.5964 117.624 33.6231 117.544 33.6231H116.17C116.064 33.6231 115.97 33.5964 115.904 33.5564C115.744 33.4631 115.664 33.3298 115.624 33.2631L115.344 32.8498C115.197 32.5964 115.024 32.3298 114.904 32.1564C114.89 32.1431 114.877 32.1431 114.864 32.1431H107.97C107.944 32.1431 107.93 32.1431 107.93 32.1564L107.21 33.2631C107.157 33.3564 107.077 33.4631 106.93 33.5564C106.797 33.5964 106.704 33.6231 106.65 33.6231H105.277C105.197 33.6231 105.104 33.5964 104.997 33.5564C104.85 33.4498 104.784 33.3164 104.784 33.1431ZM109.33 30.1298H113.49C113.557 30.1298 113.57 30.1031 113.53 30.0498L111.464 26.8364C111.424 26.7964 111.397 26.7964 111.357 26.8364L109.29 30.0498C109.25 30.1031 109.264 30.1298 109.33 30.1298ZM119.825 24.2898H130.345C130.465 24.2898 130.611 24.3298 130.731 24.4364C130.825 24.5564 130.878 24.6898 130.878 24.8098V25.8098C130.878 26.1298 130.651 26.3298 130.345 26.3298H126.185V33.1031C126.185 33.2098 126.158 33.3564 126.038 33.4764C125.931 33.5964 125.785 33.6231 125.665 33.6231H124.518C124.398 33.6231 124.251 33.5964 124.145 33.4764C124.025 33.3564 123.998 33.2098 123.998 33.1031V26.3298H119.825C119.718 26.3298 119.571 26.3031 119.451 26.1964C119.331 26.0764 119.305 25.9298 119.305 25.8098V24.8098C119.305 24.5031 119.518 24.2898 119.825 24.2898ZM135.807 33.1031V24.8098C135.807 24.5031 136.02 24.2898 136.327 24.2898H137.5C137.62 24.2898 137.767 24.3164 137.874 24.4364C137.994 24.5564 138.02 24.7031 138.02 24.8098V27.9431H144.914V24.8098C144.914 24.5031 145.127 24.2898 145.434 24.2898H146.607C146.727 24.2898 146.874 24.3298 146.994 24.4364C147.087 24.5564 147.14 24.6898 147.14 24.8098V33.1031C147.14 33.4231 146.914 33.6231 146.607 33.6231H145.434C145.127 33.6231 144.914 33.4098 144.914 33.1031V29.9698H138.02V33.1031C138.02 33.2098 137.994 33.3564 137.874 33.4764C137.767 33.5964 137.62 33.6231 137.5 33.6231H136.327C136.02 33.6231 135.807 33.4098 135.807 33.1031ZM152.737 31.1031V26.8231C152.737 25.1031 153.643 24.2498 155.363 24.2498H161.923C163.59 24.2498 164.537 25.1031 164.537 26.8231V31.1031C164.537 32.7698 163.59 33.6764 161.923 33.6764H155.363C153.697 33.6764 152.737 32.8231 152.737 31.1031ZM154.95 26.9431V30.9698C154.95 31.2231 155.003 31.3964 155.097 31.4631C155.19 31.5564 155.363 31.6364 155.697 31.6364H161.59C161.923 31.6364 162.097 31.5698 162.19 31.4764C162.257 31.3831 162.323 31.2764 162.323 30.9698V26.9431C162.323 26.4098 162.11 26.2898 161.59 26.2898H155.697C155.363 26.2898 155.19 26.3564 155.097 26.4498C155.003 26.5164 154.95 26.6898 154.95 26.9431ZM170.655 24.2898H172.122C172.375 24.2898 172.495 24.4098 172.589 24.5031C172.602 24.5031 172.602 24.5031 172.615 24.5164L179.362 30.8498V24.8098C179.362 24.5031 179.575 24.2898 179.882 24.2898H181.055C181.362 24.2898 181.589 24.5031 181.589 24.8098V33.1031C181.589 33.2231 181.562 33.3698 181.442 33.4764C181.335 33.5964 181.175 33.6231 181.055 33.6231H179.602C179.349 33.6231 179.229 33.4898 179.135 33.4231L179.109 33.3964L172.349 27.0631V33.1031C172.349 33.2098 172.322 33.3564 172.202 33.4764C172.095 33.5964 171.949 33.6231 171.829 33.6231H170.655C170.349 33.6231 170.135 33.4098 170.135 33.1031V24.8098C170.135 24.5031 170.349 24.2898 170.655 24.2898Z"
              fill="url(#paint0_linear_17_275)"></path>
            <path
              d="M11.8063 9.42633L11.8116 9.41728L12.4549 8.32256L11.8063 7.21899H11.2355L11.8692 8.30444L11.2141 9.42633H11.8063Z"
              fill="black"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 22.4204L11.3424 0L22.3028 22.3345L18.914 22.2979H15.7463V21.2912C16.5337 20.8181 17.068 19.9755 17.068 19.0032C17.068 17.4943 15.7894 16.3057 14.2562 16.3057C12.723 16.3057 11.4445 17.4943 11.4445 19.0032C11.4445 19.9755 11.9787 20.8181 12.7661 21.2912V22.2979H10.0255V17.5796H9.17588V23.1847H13.6552V20.5885H13.3265C12.7267 20.2759 12.3335 19.6771 12.3335 19.0032C12.3335 18.0224 13.1747 17.1926 14.2562 17.1926C15.3377 17.1926 16.1789 18.0224 16.1789 19.0032C16.1789 19.6771 15.7857 20.2759 15.186 20.5885H14.8572V23.1847H20.7663L11.4698 27.6858L1.84997 23.2696H6.1687V17.5796H5.31907V22.4204H0ZM9.86832 8.28928L10.3551 9.15675L9.96785 9.85139L9.0909 8.28928L9.97806 6.70913L10.3653 7.40377L9.86832 8.28928ZM12.2059 6.53927L13.254 8.32261L12.2099 10.0994L12.2059 10.1061H10.1105L11.1621 8.30487L10.1314 6.53927H12.2059ZM11.4305 14.2679L10.5422 13.9278L11.4305 15.3258H16.8735L17.6106 13.9278L16.8735 14.2679H11.4305ZM4.13536 15.5414L5.02365 15.8814H10.4666L11.2037 15.5414L10.4666 16.9394H5.02365L4.13536 15.5414ZM12.4511 12.5881L12.0731 12.3992L12.4511 13.4193L15.7207 13.3815L16.0797 12.3992L15.7207 12.5881H12.4511ZM5.68513 14.2675L6.0631 14.4564H9.3327L9.69177 14.2675L9.3327 15.2499L6.0631 15.2877L5.68513 14.2675ZM7.28527 17.5796V22.845H8.1349V17.5796H7.28527Z"
              fill="black"></path>
            <path
              d="M11.4698 40.0001L0 23.7793L11.4698 31.685V40.0001Z"
              fill="black"></path>
            <path
              d="M11.4697 40L22.4298 23.4395L11.4697 31.6832V40Z"
              fill="black"></path>
            <defs>
              <linearGradient
                id="paint0_linear_17_275"
                x1="35.9419"
                y1="29.9999"
                x2="177.759"
                y2="29.9999"
                gradientUnits="userSpaceOnUse"
              >
                <stop></stop>
                <stop offset="0.5" stop-color="#BFBFBF"></stop>
                <stop offset="1"></stop>
              </linearGradient>
            </defs>
          </svg>
          <!-- <img class="block h-9 w-auto lg:hidden" src="/images/logo.png" alt="Your Company"> -->

          <!-- <img class="hidden h-9 w-auto lg:block" src="/images/logo.png" alt="Your Company"> -->
        </div>
        <div class="navbar h-full hidden sm:block">
          <div class="flex h-full items-center">
            <a
              href="#hero"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              aria-current="page">{t("menu.overview")}</a
            >
            <a
              href="#prize"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              >{t("menu.prizes")}</a
            >
            <a
              href="#schedule"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              >{t("menu.schedule")}</a
            >
            <a
              href="#venue"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              >{t("menu.overview")}</a
            >
            <a
              href="#media"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              >{t("menu.media")}</a
            >
            <a
              href="#faq"
              class="menu-btn py-2 mx-0.5 rounded-full px-4 text-base font-medium"
              >{t("menu.faq")}</a
            >
          </div>
        </div>
        <div class="navbar-lang relative sm:inline-block text-left hidden">
          <!-- <select
            id="language"
            name="language"
            style={{ fontSize: "0.75rem", color: "#262626" }}
            class="appearance-none mt-1 block w-24 rounded-md border border-gray-300 bg-white py-1 px-3 pr-0 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          >
            <option value="english">English</option>
            <option value="chinese">简体中文</option>
          </select> -->
          <div id="lan" class="relative cursor-pointer select-none">
            <div
              id="lan-current"
              class="flex items-center rounded-full border border-gray-300 py-2 px-5 shadow-sm hover:border-indigo-500 focus:outline-none hover:ring-indigo-500 sm:text-sm min-w-[114px]"
            >
              <span>English</span>
              <div class="icon bg-no-repeat bg-cover bg-top ml-2"></div>
            </div>
            <ul
              id="lan-list"
              class="absolute w-full bg-white shadow-md my-1 border border-gray-300 rounded-md p-0 overflow-hidden hidden"
            >
              {
                [
                  { id: "lan-list-en", label: "English" },
                  { id: "lan-list-zh", label: "简体中文" },
                ].map((lan) => (
                  <li
                    id={lan.id}
                    class="text-center whitespace-nowrap py-1.5 hover:text-white hover:bg-[#28BDD9]"
                  >
                    {lan.label}
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="navbar-mb hidden" id="mobile-menu">
    <div
      class="absolute left-0 z-10 w-full origin-top-right border-gray-100 rounded-b-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#hero"
          class="text-gray-700 block px-4 py-2 h-full w-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0">Overview</a
        >
      </div>
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#prize"
          class="text-gray-700 block px-4 py-2 h-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-2">Prizes</a
        >
      </div>
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#schedule"
          class="text-gray-700 block px-4 py-2 h-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-4">Schedule</a
        >
      </div>
      <!-- <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a href="#speaker" class="text-gray-700 block px-4 py-2 h-full" role="menuitem" tabindex="-1" id="menu-item-6">Speakers</a>
      </div> -->
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#venue"
          class="text-gray-700 block px-4 py-2 h-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-6">Venue</a
        >
      </div>
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#media"
          class="text-gray-700 block px-4 py-2 h-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-6">Media</a
        >
      </div>
      <div class="menu-mb__btn py-1 w-full h-16" role="none">
        <a
          href="#faq"
          class="text-gray-700 block px-4 py-2 h-full"
          role="menuitem"
          tabindex="-1"
          id="menu-item-6">FAQ</a
        >
      </div>
      <div class="py-1 w-full h-16" role="none">
        <div class="navbar-lang relative inline-block text-left px-4">
          <select
            id="languag-mb"
            name="language"
            style={{ fontSize: "0.75rem", color: "#262626" }}
            class="appearance-none mt-1 block w-24 rounded-md border border-gray-300 bg-white py-1 px-3 pr-0 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          >
            <option class="" value="english">English</option>
            <option class="" value="chinese">简体中文</option>
          </select>
          <div
            class="icon absolute bg-no-repeat bg-cover bg-top top-3.5 right-7"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
